body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif, Verdana, Tahoma; 
}

h1 {
    position: absolute; /* or 'relative' based on your needs */
    top: 50px; /* adjust as needed */
    left: 600px; /* adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: #0a0a0a; /* Indigo color */
}

/* Estilos Index */
#localidade {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin-top: 30px;
}

.platina,
.masterline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin: 30px;
}

.platina img,
.masterline img {
    width: 130px;
    height: 130px;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-bottom: 10px;
}

.platina p,
.masterline p {
    font-size: 17px;
    margin: auto;
    text-align: center;
    color: #343a40; /* Dark gray color */
}

/* Estilos geral impressoras */
#impressoras {
    display: flex;
    justify-content: space-between; /* Distribute items with space between them */
    align-items: flex-start; /* Align items to the top */
    max-width: 1000px; /* Adjust as needed */
    margin-top: 30px;
}

.impressora {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

/* Estilos pl_csc */
.csc_administrativo_impressora,
.exportacao_impressora,
.comercial_impressora,
.marketing_impressora {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 20px); /* Adjust width and margin as needed */
    margin: 10px;
}

.csc_administrativo_impressora img,
.exportacao_impressora img,
.comercial_impressora img,
.marketing_impressora img {
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-bottom: 10px;
}

.csc_administrativo_impressora p,
.exportacao_impressora p,
.comercial_impressora p,
.marketing_impressora p {
    font-size: 17px;
    margin: auto;
    text-align: center;
    color: #343a40; /* Dark gray color */
}

/* Estilos pl_log */
.log_administrativo_impressora,
.ambulatorio_impressora,
.expedicao_impressora,
.recebimento_impressora,
.seguranca_impressora {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(20% - 10px); /* Adjust width and margin as needed */
    margin: 10px;
}

.log_administrativo_impressora img, 
.ambulatorio_impressora img,
.expedicao_impressora img,
.recebimento_impressora img,
.seguranca_impressora img {
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-bottom: 10px;
}

.log_administrativo_impressora p,
.ambulatorio_impressora p,
.expedicao_impressora p,
.recebimento_impressora p,
.seguranca_impressora p {
    font-size: 17px;
    margin: auto;
    text-align: center;
    color: #343a40; /* Dark gray color */
}

/* Estilos Botão Home */
.home-button {
    position: absolute; /* or 'relative' based on your needs */
    top: 50px; /* adjust as needed */
    left: 100px; /* adjust as needed */
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff; /* Blue color */
    color: #fff; /* White color */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.home-button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}

/* Estilos Botão Adicionar */
.btn-adicionar {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.btn-adicionar:hover {
    background-color: #0056b3;
}
