body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif, Verdana, Tahoma; 
}

h1 {
    position: absolute; /* or 'relative' based on your needs */
    top: 0; /* Align at the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust centering */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    color: #0a0a0a; /* Indigo color */
}

h2 {
    
/*    left: 50%; /* Center horizontally */
/*    transform: translateX(-50%); /* Adjust centering */
    text-align: center; /* Centraliza o texto */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; 
    font-size: 14px;
    margin-bottom: 10px;
    color: #0a0a0a;
}

/* Add a new CSS rule for visually hidden content */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Style the user-friendly printer name */
.user-friendly-name {
    font-size: 14px;
    margin: auto;
    text-align: center;
    color: #343a40; /* Dark gray color */
}

/* Estilos Index */
#localidade {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin-top: 30px;
}

.platina,
.masterline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin: 30px;
}

.platina img,
.masterline img {
    width: 130px;
    height: 130px;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-bottom: 10px;
}

.platina p,
.masterline p {
    font-size: 17px;
    margin: auto;
    text-align: center;
    color: #343a40; /* Dark gray color */
}

/* Estilos geral impressoras */
#impressoras {
    display: flex;
    justify-content: space-between; /* Distribute items with space between them */
    align-items: flex-start; /* Align items to the top */
    max-width: 1000px; /* Adjust as needed */
    margin-top: 30px;
}
.impressora {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

/* Estilos pl_csc */
.csc_administrativo_impressora,
.exportacao_impressora,
.comercial_impressora,
.marketing_impressora {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 20px); /* Adjust width and margin as needed */
    margin: 10px;
}
.csc_administrativo_impressora img,
.exportacao_impressora img,
.comercial_impressora img,
.marketing_impressora img {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-bottom: 0px;
}
.csc_administrativo_impressora p,
.exportacao_impressora p,
.comercial_impressora p,
.marketing_impressora p {
    font-size: 17px;
    margin: auto;
    text-align: center;
    color: #343a40; 
}

/* Estilos pl_log */
.log_administrativo_impressora,
.ambulatorio_impressora,
.expedicao_impressora,
.recebimento_impressora,
.seguranca_impressora {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(20% - 10px); /* Adjust width and margin as needed */
    margin: 10px;
}
.log_administrativo_impressora img, 
.ambulatorio_impressora img,
.expedicao_impressora img,
.recebimento_impressora img,
.seguranca_impressora img {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-bottom: 0px;
}
.log_administrativo_impressora p,
.ambulatorio_impressora p,
.expedicao_impressora p,
.recebimento_impressora p,
.seguranca_impressora p {
    font-size: 17px;
    margin: auto;
    text-align: center;
    color: #343a40; /* Dark gray color */
}

/* Estilos mln_main */
.mln_administrativo_impressora,
.mln_almoxarifado_impressora,
.mln_almoxarifado_rotulo_impressora,
.mln_almoxarifado_pigmento_impressora,
.mln_dp_impressora,
.mln_envase_impressora,
.mln_corpore_impressora,
.mln_fisicoquimico,
.mln_ped_impressora,
.mln_manut_impressora,
.mln_pes_impressora,
.mln_amb_impressora {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(20% - 20px); /* Adjust width and margin as needed */
    margin: 10px auto; /* Set auto margin for left and right */
}

.mln_administrativo_impressora img,
.mln_almoxarifado_impressora img,
.mln_almoxarifado_rotulo_impressora img,
.mln_almoxarifado_pigmento_impressora img,
.mln_dp_impressora img,
.mln_envase_impressora img,
.mln_corpore_impressora img,
.mln_fisicoquimico img,
.mln_ped_impressora img,
.mln_manut_impressora img,
.mln_pes_impressora img,
.mln_amb_impressora img {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-bottom: 0px;
}

.mln_administrativo_impressora p,
.mln_almoxarifado_impressora p,
.mln_almoxarifado_rotulo_impressora p,
.mln_almoxarifado_pigmento_impressora p,
.mln_dp_impressora p,
.mln_envase_impressora p,
.mln_corpore_impressora p,
.mln_fisicoquimico p,
.mln_ped_impressora p,
.mln_manut_impressora p,
.mln_pes_impressora p,
.mln_amb_impressora p {
    font-size: 17px;
    margin: auto;
    text-align: center;
    color: #343a40; /* Dark gray color */
}

/* Estilos Botão Home */
.home-button {
    position: fixed;
    top: 30px;
    left: 30px;
    padding: 8px 16px;
    background-color: #007bff; /* Blue color */
    color: #fff; /* White color */
    border: none;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
}

.home-button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}

/* Estilos Botão Adicionar */
.btn-adicionar {
    font-size: 12px;
    cursor: pointer;
    padding: 4px 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.btn-adicionar:hover {
    background-color: #0056b3;
}
