<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Portal de Impressoras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Portal de Mapeamento de Impressoras</h1>
    <h2>Selecione a localidade</h2>
    <div id="localidade">
        <div class="platina">
            <img src="{{ url_for('static', filename='images/logo_platina.jpg') }}" alt="Platina CSC">
        <div class="button-container">
            <button class="button-link" onclick="window.location.href='/pl_csc'">Platina CSC</button>
            <button class="button-link" onclick="window.location.href='/pl_log'">Platina LOG</button>
        </div>
        </div>

        <div class="masterline">
            <img src="{{ url_for('static', filename='images/logo_masterline.jpg') }}" alt="Masterline">
        <div class="button-container">
            <button class="button-link" onclick="window.location.href='/ml_main'">Masterline</button>
            <button class="button-link" onclick="window.location.href='/ml_log'">Masterline LOG</button>
            <button class="button-link" onclick="window.location.href='/ml_flexo'">Flexografia</button>
            <button class="button-link" onclick="window.location.href='/ml_emb'">Embalagens</button>
        </div>
        </div>                
</body>
</html>
