<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Impressoras - Escritório Platina CSC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Impressoras - Escritório Platina CSC</h1>
    <div id="impressoras">
        <!-- Administrativo -->
        <div class="csc_administrativo_impressora">
            <h2>Administrativo</h2> 
            <img src="{{ url_for('static', filename='adm-comercial.jpg') }}" alt="ADM Logo"></h2>
            <div class="impressora">
                <p>ADM - Preto</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>ADM - Frente e Verso</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>ADM - Rascunho</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
        </div>
        
        <!-- Exportação -->
        <div class="exportacao_impressora">
            <h2>Exportação</h2> 
            <img class="printer-logo" src="{{ url_for('static', filename='exportacao.jpg') }}" alt="Exportação Logo"></h2>
            <div class="impressora">
                <p>Exportação - Preto</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>Exportação - Frente e Verso</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>Exportação - Rascunho</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
        </div>

        <!-- Comercial -->
        <div class="comercial_impressora">
            <h2>Comercial</h2> 
            <img class="printer-logo" src="{{ url_for('static', filename='adm-comercial.jpg') }}" alt="Comercial Logo"></h2>
            <div class="impressora">
                <p>Comercial - Preto</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>Comercial - Rascunho</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
        </div>

        <!-- Marketing-->
        <div class="marketing_impressora">
            <h2>Marketing</h2> 
            <img class="printer-logo" src="{{ url_for('static', filename='marketing.jpg') }}" alt="Marketing Logo"></h2>
            <div class="impressora">
                <p>Marketing - Colorido</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>Marketing - Preto</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>Marketing - A3</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>Marketing - Frente e Verso</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
        </div>
    </div>

        <!-- Home button -->
        <a href="{{ url_for('index') }}" class="home-button">Home</a>

    <!-- Reference the impressoras.js script -->
    <script src="{{ url_for('static', filename='impressoras.js') }}"></script>

</body>
</html>
