<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Impressoras - Platina Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Impressoras - Platina Log</h1>
    <div id="impressoras">
        <!-- Administrativo -->
        <div class="log_administrativo_impressora">
            <h2>Administrativo</h2> 
            <img src="{{ url_for('static', filename='images/pl_log_adm.jpg') }}" alt="ADM Logo"></h2>
            <div class="impressora">
                <p>LOG ADM - Preto</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>LOG ADM - Frente e Verso</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>LOG ADM - Rascunho</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
        </div>
        
        <!-- Ambulatório -->
        <div class="log_ambulatorio_impressora">
            <h2>Ambulatório</h2> 
            <img class="printer-logo" src="{{ url_for('static', filename='images/pl_log_ambulatorio.jpg') }}" alt=""></h2>
            <div class="impressora">
                <p>Ambulatório</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
           
            <!-- Expedição -->
        <div class="log_expedicao_impressora">
            <h2>Expedição</h2> 
            <img class="printer-logo" src="{{ url_for('static', filename='images/pl_log_exp.jpg') }}" alt=""></h2>
            <div class="impressora">
                <p>Expedição - Preto</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>Expedição - Frente e Verso</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>Expedição - Rascunho</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora"> 
                <img class="printer-logo" src="{{ url_for('static', filename='images/pl_log_exp_zebra.jpg') }}" alt=""></h2>    
                <p>Expedição - Zebra</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
        </div>

        <!-- Marketing-->
        <div class="marketing_impressora">
            <h2>Marketing</h2> 
            <img class="printer-logo" src="{{ url_for('static', filename='marketing.jpg') }}" alt=""></h2>
            <div class="impressora">
                <p>Marketing - Colorido</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>Marketing - Preto</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>Marketing - A3</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>Marketing - Frente e Verso</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
        </div>
    </div>

        <!-- Home button -->
        <a href="{{ url_for('index') }}" class="home-button">Home</a>

    <!-- Reference the impressoras.js script -->
    <script src="{{ url_for('static', filename='impressoras.js') }}"></script>

</body>
</html>
