<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Impressoras - Platina Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Impressoras - Platina Log</h1>
    <div id="impressoras">

        <!-- Administrativo -->
<div class="log_administrativo_impressora">
    <h2>Administrativo</h2> 
    <img src="{{ url_for('static', filename='images/pl_log_adm.jpg') }}" alt="">
    <div class="impressora">
        <p class="printer-name visually-hidden">LOG ADM - Preto</p>
        <span class="user-friendly-name">Preto</span>
        <button class="btn-adicionar">Adicionar</button>
    </div>
    <div class="impressora">
        <p class="printer-name visually-hidden">LOG ADM - Frente e Verso</p>
        <span class="user-friendly-name">Frente e Verso</span>
        <button class="btn-adicionar">Adicionar</button>
    </div>
    <div class="impressora">
        <p class="printer-name visually-hidden">LOG ADM - Rascunho</p>
        <span class="user-friendly-name">Rascunho</span>
        <button class="btn-adicionar">Adicionar</button>
    </div>
</div>

<!-- Ambulatório -->
<div class="ambulatorio_impressora">
    <h2>Ambulatório</h2> 
    <img class="printer-logo" src="{{ url_for('static', filename='images/pl_log_ambulatorio.jpg') }}" alt="">
    <div class="impressora">
        <p class="printer-name visually-hidden">Ambulatório</p>
        <span class="user-friendly-name"></span>
        <button class="btn-adicionar">Adicionar</button>
    </div>
</div>  

<!-- Expedição -->
<div class="expedicao_impressora">
    <h2>Expedição</h2> 
    <img class="printer-logo" src="{{ url_for('static', filename='images/pl_log_exp.jpg') }}" alt="">
    <div class="impressora">
        <p class="printer-name visually-hidden">Expedição - Preto</p>
        <span class="user-friendly-name">Preto</span>
        <button class="btn-adicionar">Adicionar</button>
    </div>
    <div class="impressora">
        <p class="printer-name visually-hidden">Expedição - Frente e Verso</p>
        <span class="user-friendly-name">Frente e Verso</span>
        <button class="btn-adicionar">Adicionar</button>
    </div>
    <div class="impressora">
        <p class="printer-name visually-hidden">Expedição - Rascunho</p>
        <span class="user-friendly-name">Rascunho</span>
        <button class="btn-adicionar">Adicionar</button>
    </div>
    <div class="expedicao_impressora"> 
        <img class="printer-logo" src="{{ url_for('static', filename='images/pl_log_exp_zebra.jpg') }}" alt="">    
        <div class="impressora">    
            <p class="printer-name visually-hidden">Expedição - Zebra</p>
            <span class="user-friendly-name">Zebra</span>
            <button class="btn-adicionar">Adicionar</button>
        </div>
    </div>
</div>

<!-- Recebimento -->
<div class="recebimento_impressora">
    <h2>Recebimento</h2> 
    <img class="printer-logo" src="{{ url_for('static', filename='images/pl_log_rec_zebra.jpg') }}" alt="">
    <div class="impressora">
        <p class="printer-name visually-hidden">Recebimento</p>
        <span class="user-friendly-name"></span>
        <button class="btn-adicionar">Adicionar</button>
    </div>
</div>

<!-- Segurança -->
<div class="seguranca_impressora">
    <h2>Segurança</h2> 
    <img class="printer-logo" src="{{ url_for('static', filename='images/pl_log_seg.jpg') }}" alt="">
    <div class="impressora">
        <p class="printer-name visually-hidden">Segurança - Preto</p>
        <span class="user-friendly-name">Preto</span>
        <button class="btn-adicionar">Adicionar</button>
    </div>
    <div class="impressora">
        <p class="printer-name visually-hidden">Segurança - Frente e Verso</p>
        <span class="user-friendly-name">Frente e Verso</span>
        <button class="btn-adicionar">Adicionar</button>
    </div>
    <div class="impressora">
        <p class="printer-name visually-hidden">Segurança - Rascunho</p>
        <span class="user-friendly-name">Rascunho</span>
        <button class="btn-adicionar">Adicionar</button>
    </div>
</div>


            <!-- Home button -->
        <a href="{{ url_for('index') }}" class="home-button">Home</a>
    </div> <!-- Close the impressoras container -->

        <!-- Reference the impressoras.js script -->
    <script src="{{ url_for('static', filename='impressoras.js') }}"></script>

</body>
</html>
