<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Impressoras - Platina Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Impressoras - Platina Log</h1>
    <div id="impressoras">
        <!-- Administrativo -->
        <div class="log_administrativo_impressora">
            <h2>Administrativo</h2> 
            <img src="{{ url_for('static', filename='images/pl_log_adm.jpg') }}" alt=""></h2>
            <div class="impressora">
                <p>LOG ADM - Preto</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>LOG ADM - Frente e Verso</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>LOG ADM - Rascunho</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
        </div>
        
        <!-- Ambulatório -->
        <div class="ambulatorio_impressora">
            <h2>Ambulatório</h2> 
            <img class="printer-logo" src="{{ url_for('static', filename='images/pl_log_ambulatorio.jpg') }}" alt=""></h2>
            <div class="impressora">
                <p>Ambulatório</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
        </div>   
            <!-- Expedição -->
        <div class="expedicao_impressora">
            <h2>Expedição</h2> 
            <img class="printer-logo" src="{{ url_for('static', filename='images/pl_log_exp.jpg') }}" alt=""></h2>
            <div class="impressora">
                <p>Expedição - Preto</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>Expedição - Frente e Verso</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>Expedição - Rascunho</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="expedicao_impressora"> 
                <img class="printer-logo" src="{{ url_for('static', filename='images/pl_log_exp_zebra.jpg') }}" alt=""></h2>    
            <div class="impressora">    
                <p>Expedição - Zebra</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
        </div>
        </div>

            <!-- Recebimento -->
        <div class="recebimento_impressora">
            <h2>Recebimento</h2> 
            <img class="printer-logo" src="{{ url_for('static', filename='images/pl_log_rec_zebra.jpg') }}" alt=""></h2>
            <div class="impressora">
                <p>Recebimento</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
        </div>

        <!-- Segurança -->
        <div class="seguranca_impressora">
            <h2>Exportação</h2> 
            <img class="printer-logo" src="{{ url_for('static', filename='images/pl_log_seg.jpg') }}" alt=""></h2>
            <div class="impressora">
                <p>Segurança - Preto</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>Segurança - Frente e Verso</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
            <div class="impressora">
                <p>Segurança - Rascunho</p>
                <button class="btn-adicionar">Adicionar</button>
            </div>
        </div>

        <!-- Home button -->
        <a href="{{ url_for('index') }}" class="home-button">Home</a>
    </div> <!-- Close the impressoras container -->
    <!-- Reference the impressoras.js script -->
    <script src="{{ url_for('static', filename='impressoras.js') }}"></script>

</body>
</html>
